.wrapper{


 .header{
    height:calc((100vh - 160px - var(--hight-header)) /3) ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
 .title{
    font-size: 3rem;
    color: var(--white);
    font-weight: 300;
 }

 p{
    color: var(--color-text-white);
    font-weight: 100;
    opacity: 0.8;
 }

 img{
    width: 45px;
    margin-left: -10px;
 }

 .icon_text{
    p{
        font-size: 2.0rem;
        font-weight: 500;
        display: inline;
        color: var(--primary);
    }
 }
 .text-col{
    color: var(--color-text-white);
 }


 .tableDetail{
   margin-left: auto;
   margin-right: auto;
   background-color: var( --color-header-primary) ;
   border: 1px solid transparent;
   border-radius: 30px;
  &:hover{
   border: 1px solid var(--bs-primary);
  }
}

.test_image{
   width: 330px;
   margin-top: 10px;
   margin-left: 0 !important;
   margin-right: 0 !important;
   }
}

.charBar{
   height:calc((100vh - 100px - var(--hight-header)) /3) ;
}
.charline{
   
   display: flex;
   @media (max-width: 767px) {
      margin-top: 40px !important;
      height: 105% !important;
    }
    @media (min-width: 1000px) {
    
   }
}
.charPia{
   display: flex;
   display: flex;
   @media (max-width: 767px) {
      margin-top: 40px !important;
      height: 105% !important;
    }
    @media (min-width: 1000px) {
    
   }
}

