.wrap {
  background-color: var(--color-header-primary);
  padding: 10px 0 !important;
  color: white;
  position: fixed !important;
  width: 100%;

  .nav_item {
    color: var(--color-text-white);
    margin: 0 5px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    
  }
}
.navbar_nav {
  display: flex;
  align-items: center;
}
.Navbar_brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  img {
    width: 44px;
  }

}

// .custom-color .navbar-toggler-icon {
//   background-color: white;
//   font-weight: 400;
//  }
.custom-color {
  background-color: white !important;
}
