.sidebar {
  padding: 20px;
  width: 60px;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}
.wrapper{
    width: 60px;
   // min-height: 100vh;
    top:calc(-1 * var(--default-layout-header-height) - 10px);
    background-color: var(--color-header-primary);
    z-index: 1 !important;

    .navbar_brand{
        display: flex;
        height: var(--hight-header) !important;
        align-items: center;
        justify-content: center;
        img{
            width: 44px;
        }
    }
    .sidebar_context{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: fixed;
    }
    
    .context{
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon_sidebar{
    width:  26px;
    margin: 15px;
}
